body {
        height: 100%;
        background-color: #f2f2f2
}

.hero-image {
        background-image: url("http://itseddies.com/img/white-bg.jpg"); /* The image used */
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 650px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
      }
      
.banner {
        position: absolute;
        width: 100%;
        text-align: center;
        z-index: 0;
        color: white;
        opacity: 0;
}

#jobTitle {
        font-size: 5vw;
        color:rgb(65, 65, 65);
}

#jobFunctions {
        font-size: 4vw;
        color:rgb(65, 65, 65);
}

.fadeRight {
        opacity: 0;
        position: relative;
        left: -200px;
}

.fadeLeft {
        opacity: 0;
        position: relative;
        left: 200px;
}

.fadeUp {
        opacity: 0;
        position: relative;
        top: 100px;
}

.centerCards {
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}

.cards {
        border: 2px solid gray;
        margin: 12px;
        padding: 20px;
        width: 301px;
        border-radius: 0% 25px;
        float: left;
        box-shadow: 2px 2px 4px 0px gray;
}

#canvasImg {
        background-image: url("http://itseddies.com/img/white-bg.jpg");
        background-size: cover;
}

#skillCanvas {
        background-color: lightgrey;
        opacity: .75;
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
}

iframe {
        position: fixed;
        top: 0;
        margin-left: 10%;
        margin-right: auto;
        width: 75%;
        height: 80%;
        margin-top: 8%;
        z-index: 1;
}

#close {
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 1;
        font-size: 20px;
        display: none;
}

.skillRow {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}

.skillIcon {
        float: left;
        margin-top: 12px
}

footer {
        background-color: rgb(65, 65, 65);
        color: white;
        text-align: center;
        height: 225px;
        padding-top: 5%;
}

footer a {
        color: white;
        text-decoration: none
}